<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>aboutus</title>
      
</head> 
<body>
    <%- include('navbar'); -%>

    <h1>About us</h1>
    <p> Each day, thousands of people – people just like you – provide compassionate care to those in need. Our network of generous donors, volunteers and employees share a mission of preventing and relieving suffering, here at home and around the world.

    </p>  
    <p>
        We are aspiring students who thaught that blood donation process tracking is a very tedious task.
        so we decided to make this website for hospitals to keep a track of the entries.
        </p>
    <p>
        Here is our little introduction .
        </p>
</body>
</html>
